<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Scene</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="scene">
        <img src="{{ image }}" alt="Scene Image" class="scene-image">
        <pre class="scene-text">{{ scene }}</pre>
      </div>rrrrr
      
      {% if not game_over %}
      <form action="{{ url_for('next_scene') }}" method="post">
        <input type="hidden" name="game_id" value="{{ game_id }}">
        <label for="action">Your Action:</label>
        <input type="text" name="action" id="action">
        <button type="submit">Submit</button>
      </form>
      {% endif %}
    </div>
  </body>
</html>
